@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Light";
  src: local("MuseoSans"),
  url("./static/fonts/MuseoSansCyrl-300.ttf") format("truetype");
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

html, body, #app, #root #app>div {
  height: 100%;
  font-family: "Light", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
