@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'MuseoSans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("./static/fonts/MuseoSansCyrl-300.ttf") format('truetype');
  }
  @font-face {
    font-family: 'MuseoSans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./static/fonts/MuseoSansCyrl-500.ttf") format('truetype');
  }
  @font-face {
    font-family: 'MuseoSans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./static/fonts/MuseoSansCyrl-700.ttf") format('truetype');
  }
  html {
    @apply font-museoSans;
  }
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

html, body, #app, #root #app>div {
  height: 100%;
  font-family: "MuseoSans", sans-serif;
}
